# Node / frontend
node_modules/
dist/

# Environment files
.env
.env.local

# Python virtual environment
env/

# Python cache
__pycache__/
*.py[cod]

# Logs
*.log
debug.log

# Editor files
.vscode/
.DS_Store

# Databases
test.db
*.db